services: 
  apache-php-crud:
    image: jaimeportilla/actividad61-aplicacion-crud-php:latest
    ports: 
      - 80:80  # He cambiado 8080 a 80 para que funcione con tu IP de AWS directamente
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}  
    depends_on:
      - db
    restart: always      

  db:
    image: mariadb
    container_name: valorant_db
    ports:
      - 3306:3306
    environment: # <-- Solo una vez
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - LANG=C.UTF-8
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d 
    restart: always

volumes:
  mariadb_data:
  